.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    // background-image: url('assets/img/loginBg.jpg');
}

// .card {
//     border-radius: 0.75rem;
//   }
  
//   .card-header {
//     border-top-left-radius: 0.75rem;
//     border-top-right-radius: 0.75rem;
//   }
  
//   .table th,
//   .table td {
//     vertical-align: middle;
//   }
  
//   .btn-sm {
//     padding: 0.25rem 0.5rem;
//   }
  
//   .table .btn {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
  